<div class="position-fixed bottom-0 end-0 p-3">
    <button id="floatingBtn" class=" bg-gradient-to-r from-blue-500 to-purple-500
            rounded-full transition-transform transform-gpu hover:-translate-y-1 hover:shadow-lg flex items-center justify-center "
            style="height: 75px; width:75px">
        <img src="/img/bot.png" alt="AI 챗봇입니다." class="filter brightness-150" style="height: 40px; width: 40px">
    </button>
</div>

