<div class="swiper-container">
    <div class="swiper-wrapper grid-container">
        <div class="swiper-slide">
            <div class="rounded-lg border text-card-foreground shadow-sm bg-blue-100 card">
                <div class="p-6">
                    <div class="text-lg font-bold">금 종합</div>
                    <div class="text-2xl font-bold">2,867.38</div>
                    <div class="text-sm text-red-500">9.62 (0.34%)</div>
                    <div class="w-full h-48 p-2">
                        <img src="/img/gold_price_graph.png" alt="GOLD Price Graph" class="w-full h-full object-contain" />
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="rounded-lg border text-card-foreground shadow-sm bg-red-100 card">
                <div class="p-6">
                    <div class="text-lg font-bold">KOSPI 종합</div>
                    <div class="text-2xl font-bold">2,867.38</div>
                    <div class="text-sm text-red-500">9.62 (0.34%)</div>
                    <div class="w-full h-48 p-2">
                        <img src="/img/kospi_price_graph.png" alt="KOSPI Price Graph" class="w-full h-full object-contain" />
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="rounded-lg border text-card-foreground shadow-sm bg-red-100 card">
                <div class="p-6">
                    <div class="text-lg font-bold">KOSDAQ 종합</div>
                    <div class="text-2xl font-bold">860.42</div>
                    <div class="text-sm text-red-500">1.15 (0.13%)</div>
                    <div class="w-full h-48 p-2">
                        <img src="/img/kosdaq_price_graph.png" alt="KOSDAQ Price Graph" class="w-full h-full object-contain" />
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="rounded-lg border text-card-foreground shadow-sm bg-blue-100 card">
                <div class="p-6">
                    <div class="text-lg font-bold">S&P500</div>
                    <div class="text-2xl font-bold">39,344.79</div>
                    <div class="text-sm text-blue-500">31.08 (0.08%)</div>
                    <div class="w-full h-48 p-2">
                        <img src="/img/sp500_price_graph.png" alt="SP500 Price Graph" class="w-full h-full object-contain" />
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="rounded-lg border text-card-foreground shadow-sm bg-red-100 card">
                <div class="p-6">
                    <div class="text-lg font-bold">나스닥 종합</div>
                    <div class="text-2xl font-bold">18,403.74</div>
                    <div class="text-sm text-red-500">50.98 (0.28%)</div>
                    <div class="w-full h-48 p-2">
                        <img src="/img/nasdaq_price_graph.png" alt="NASDAQ Price Graph" class="w-full h-full object-contain" />
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="rounded-lg border text-card-foreground shadow-sm bg-red-100 card">
                <div class="p-6">
                    <div class="text-lg font-bold">원유</div>
                    <div class="text-2xl font-bold">18,403.74</div>
                    <div class="text-sm text-red-500">50.98 (0.28%)</div>
                    <div class="w-full h-48 p-2">
                        <img src="/img/oil_price_graph.png" alt="OIL Price Graph" class="w-full h-full object-contain" />
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="rounded-lg border text-card-foreground shadow-sm bg-red-100 card">
                <div class="p-6">
                    <div class="text-lg font-bold">원/달러 환율</div>
                    <div class="text-2xl font-bold">18,403.74</div>
                    <div class="text-sm text-red-500">50.98 (0.28%)</div>
                    <div class="w-full h-48 p-2">
                        <img src="/img/dollar_price_graph.png" alt="DOLLAR Price Graph" class="w-full h-full object-contain" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>