{{>layout/header}}
<body>
<div id="alert-container"></div>
<script>
    var title = "{{title}}";
    var message = "{{message}}";
    var icon = "{{icon}}";
    var searchUrl = "{{searchUrl}}";

    swal({
        title: title,
        text: message,
        icon: icon,
        buttons: '확인'
    }).then((value) => {
        if(value){
            location.replace(searchUrl);
        }
    });
</script>
</body>
{{>layout/footer}}