.chat-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.message-list {
    flex-grow: 0.7;
    overflow-y: auto;
    padding: 1rem;
}
.message {
    max-width: 70%;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.bot-message {
    background-color: #f1f3f5;
    align-self: flex-start;
}
.user-message {
    background-color: #ffeb33;
    align-self: flex-end;
}
.input-area {
    border-top: 1px solid #e9ecef;
    padding: 1rem;
    background-color: #fff;
}