<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <title>AI Stock Helper</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    <link rel="stylesheet" href="/css/loadingChat.css">
    <link rel="stylesheet" href="/css/chatting.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</head>
<body>
<div class="wrap">
    <header>
        <img class="profile-img" src="/img/default.jpg" alt="프로필사진">
        <div class="profile-col">
            <span class="profile-name">AI 챗봇</span>
        </div>
    </header>
    <div id="loading">
        <div class="spinner"></div>
    </div>
    <!-- 메시지 영역 -->
    <div id="messages"></div>

    <div class="input-group">
        <input type="text" id="messageInput" placeholder="챗봇에게 물어보세요!">
        <button id="sendButton">Send</button>
    </div>
</div>

<!-- JavaScript code -->
<script src="/js/chatbot_request.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>
