<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Stock Helper</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
    <link rel="stylesheet" href="/css/chatting.css">
</head>
<body>
<div class="wrap">
    <header>
        <img class="profile-img" src="./pic/default.png" alt="프로필사진">
        <div class="profile-col">
            <span class="profile-name">AI 챗봇</span>
        </div>
    </header>
    <div id="messages" class="messages">
        <div class="chat ch1">
            <div class="icon"><i class="fa-solid fa-robot"></i></div>
            <div class="textbox">안녕하세요! AI 챗봇입니다.</div>
        </div>
        <div class="chat ch1">
            <div class="icon"><i class="fa-solid fa-robot"></i></div>
            <div class="textbox">무엇을 도와드릴까요?</div>
        </div>
    </div>
    <div class="input-group">
        <input type="text" id="messageInput" placeholder="메시지를 입력하세요"/>
        <button id="sendButton">전송</button>
    </div>
</div>

<!-- Include the STOMP and SockJS libraries -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<!-- JavaScript code -->
<script src="/js/chatbot_websocket.js"></script>
</body>
</html>
