{{>header}}
<body>
        <!-- Sidebar -->
        {{>sidebar}}
        <!-- Main content -->
        {{>content}}

        <div class="position-fixed bottom-0 end-0 p-3">
            <button id="floatingBtn" class="btn btn-primary rounded-circle shadow" style="width: 60px; height: 60px;">
                <img src="/img/bot.png" alt="bot" style = "width: 40px; height: 40px;">
            </button>
        </div>
</body>
{{>footer}}