{{>layout/header}}
<link rel="stylesheet" href="/css/swiperstyle.css" type="text/css">
<body>
    {{>layout/navbar}}
    {{>layout/sidebar}}
        <!-- Main content -->
    {{>layout/content}}
    {{>layout/chatbot_button}}
</body>
{{>layout/footer}}