<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Login</title>
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
</head>
<body>
<div class="container" id="container">
    <div class="form-container sign-up-container">
        <form id="register_form" action="/register" method="post">
            <h1>Create Account</h1>
            <input type="text" name="user_name" id="r_user_name" placeholder="Name"/>
            <input type="email" name="email" id="r_email" placeholder="Email"/>
            <input type="text" name="user_id" id="r_user_id" placeholder="ID"/>
            <input type="password" name='user_pw' id="r_user_pw" placeholder="Password"/>
            <input type="text" name="phone_number" id="r_phone_number" placeholder="Phone Number"/>
            <button type="submit" id="sign_up">Sign Up</button>
        </form>
    </div>
    <div  class="form-container sign-in-container">
        <form id="login_form" action="/logging" method="post">
            <h1>Sign in</h1>
            <input name="username" id="l_user_id" type="text" placeholder="ID">
            <input name="password" id="l_user_pw" type="password" placeholder="Password">
            <button type="submit" id="sign_in">Sign In</button>
        </form>
        <p id="forget_pw">Forgot your password?</p>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-left">
                <h1>Welcome Back!</h1>
                <p>To keep connected with us please login with your personal info</p>
                <button class="ghost" id="signIn">Sign In</button>
            </div>
            <div class="overlay-panel overlay-right">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button class="ghost" id="signUp">Sign Up</button>
            </div>
        </div>
    </div>
</div>

<script>
    const signUpButton = document.getElementById('signUp');
    const signInButton = document.getElementById('signIn');
    const container = document.getElementById('container');

    signUpButton.addEventListener('click', () => {
        container.classList.add("right-panel-active");
    });

    signInButton.addEventListener('click', () => {
        container.classList.remove("right-panel-active");
    });
    document.getElementById('forget_pw').addEventListener('click', () => {
        alert('관리자에게 문의하세요 ' + '\n'
                + '010-1234-5678');
    });


</script>
<script>
    {{#error}}
    alert('로그인 실패! 아이디 비밀번호를 확인해주세요')
    {{/error}}
</script>
<script>
    {{#success}}
    alert('{{success}}')
    {{/success}}
</script>
<script src="/js/logformcheck.js"></script>
<script src ="/js/loginCheck.js" ></script>
</body>
</html>