{{>layout/header}}
<body>
{{>layout/navbar}}
<div class="page-container">
    {{>layout/sidebar}}
    <main class="main-content">
        <form action="/news" method="get" class="mb-3 input-group">
            <input type="text" name="query" class="border-2 border-gray-300 rounded" value="{{searchQuery}}">
            <button class="btn text-white rounded bg-purple-500 hover:bg-purple-400 focus:shadow-outline"
                    type="submit">검색
            </button>
        </form>
        <div class="news-grid">
            {{#newsItems}}
                <div class="news-item">
                    <div class="news-content-wrapper">
                        <div class="news-text">
                            <h2 class="news-title">{{news_title}}</h2>
                            <p class="news-source">출처: {{press_co}}</p>
                            <p class="news-excerpt">{{summary}}</p>
                            <div class="news-content" style="display: none;">
                                {{news_content}}
                            </div>
                            <button class="summary-btn">요약</button>
                            <button class="keywords-btn summary-btn">키워드 추출</button>
                            <button class="summary-btn">
                                <a href="{{address}}" target="_blank" style="text-decoration: none; color: inherit;">원문
                                    보기</a>
                            </button>
                        </div>
                    </div>
                </div>
            {{/newsItems}}
        </div>
    </main>
</div>

<!-- 요약 모달 -->
<div id="summaryModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>뉴스 요약</h3>
        <p id="summaryContent"></p>
    </div>
</div>

<!-- 키워드 모달 -->
<div id="keywordsModal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h3>추출된 키워드</h3>
        <div id="keywordsContent"></div>
    </div>
</div>
<script src="/js/newsfilter.js"></script>
{{>layout/chatbot_button}}
</body>
</html>