{{>layout/header}}
<body>
{{>layout/navbar}}
{{>layout/sidebar}}
<div class="container" style="margin-top: 100px;">
    <h1 class="text-center" style="font-size: 3em; margin-bottom: 30px;">오늘의 종목 추천</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">D제일전자</h5>
                        <p class="card-text">097950</p>
                        <p class="card-text percentage">-2.8%</p>
                        <p class="card-text price">37,000</p>
                        <a href="/stock-detail/005380" class="btn btn-primary">바로가기</a>
                    </div>
                    <img src="/img/stock_default.png" class="card-img-right" style="width: 100px; height:100px" alt="stock_default_image">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">현대차</h5>
                        <p class="card-text">005380</p>
                        <p class="card-text percentage">-4.79%</p>
                        <p class="card-text price">254,500</p>
                        <a href="/stock-detail/005380" class="btn btn-primary">바로가기</a>
                    </div>
                    <img src="/img/stock_default.png" class="card-img-right" style="width: 100px; height:100px" alt="stock_default_image">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">유한양행</h5>
                        <p class="card-text">000100</p>
                        <p class="card-text percentage">32.68%</p>
                        <p class="card-text price">95,800</p>
                        <a href="/stock-detail/005380" class="btn btn-primary">바로가기</a>
                    </div>
                    <img src="/img/stock_default.png" class="card-img-right" style="width: 100px; height:100px" alt="stock_default_image">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">삼성생명</h5>
                        <p class="card-text">032830</p>
                        <p class="card-text percentage">20.31%</p>
                        <p class="card-text price">93,000</p>
                        <a href="/stock-detail/005380" class="btn btn-primary">바로가기</a>
                    </div>
                    <img src="/img/stock_default.png" class="card-img-right" style="width: 100px; height:100px" alt="stock_default_image">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">ARIRANG 고배당</h5>
                        <p class="card-text">161510</p>
                        <p class="card-text percentage">30.41%</p>
                        <p class="card-text price">15,050</p>
                        <a href="/stock-detail/005380" class="btn btn-primary">바로가기</a>
                    </div>
                    <img src="/img/stock_default.png" class="card-img-right" style="width: 100px; height:100px" alt="stock_default_image">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">삼성전자</h5>
                        <p class="card-text">005930</p>
                        <p class="card-text percentage">45.02%</p>
                        <p class="card-text price">84,800</p>
                        <a href="/stock-detail/005380" class="btn btn-primary">바로가기</a>
                    </div>
                    <img src="/img/stock_default.png" class="card-img-right" style="width: 100px; height:100px" alt="stock_default_image">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">TSMC ADR</h5>
                        <p class="card-text">156235</p>
                        <p class="card-text percentage">28.43%</p>
                        <p class="card-text price">166,700</p>
                        <a href="/stock-detail/005380" class="btn btn-primary">바로가기</a>
                    </div>
                    <img src="/img/stock_default.png" class="card-img-right" style="width: 100px; height:100px" alt="stock_default_image">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">TSMC</h5>
                        <p class="card-text">111111</p>
                        <p class="card-text percentage">98.51%</p>
                        <p class="card-text price">631,100</p>
                        <a href="/stock-detail/005380" class="btn btn-primary">바로가기</a>
                    </div>
                    <img src="/img/stock_default.png" class="card-img-right" style="width: 100px; height:100px" alt="stock_default_image">
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body d-flex justify-content-between">
                    <div>
                        <h5 class="card-title">아마존 닷컴</h5>
                        <p class="card-text">999999</p>
                        <p class="card-text percentage">98.51%</p>
                        <p class="card-text price">3,131,100</p>
                        <a href="/stock-detail/005380" class="btn btn-primary">바로가기</a>
                    </div>
                    <img src="/img/stock_default.png" class="card-img-right" style="width: 100px; height:100px" alt="stock_default_image">
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/chatbot_button}}
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var percentages = document.querySelectorAll('.card-text.percentage');
        percentages.forEach(function(percentage) {
            var value = parseFloat(percentage.textContent);
            if (value > 0) {
                percentage.classList.add('red-text');
            } else {
                percentage.classList.add('blue-text');
            }
        });

        var prices = document.querySelectorAll('.card-text.price');
        prices.forEach(function(price) {
            var value = parseFloat(price.previousElementSibling.textContent);
            if (value > 0) {
                price.classList.add('red-text');
            } else {
                price.classList.add('blue-text');
            }
        });
    });
</script>
</body>
{{>layout/footer}}