<div class="mb-4">
    <h2 class="text-xl font-bold mb-3">
        이 시각 뉴스
        <a href="/news" class="text-sm">더보기</a>
    </h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{#newsList}}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <a herf="{{address}}" class="text-sm card-title text-muted text-truncate" style="white-space: nowrap;">
                            {{newsTitle}}
                        </a>
                        <p class="card-text text-muted text-truncate text-xs" style="white-space: nowrap;">
                            {{pressCo}}
                        </p>
                    </div>
                </div>
            </div>
        {{/newsList}}
    </div>
</div>

