<div class="container mx-auto my-4">
    <h2 class="text-xl mt-1 font-bold mb-2">오늘의 주식정보
        <a href="/recommend" class="text-sm">상세보기</a>
    </h2>
    <div class="d-flex justify-content-end align-items-end">
        <a href="/main" class="text-sm font-bold mb-2 text-orange-600">1분 단위 변동(새로고침)</a>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-5 gap-4">
        {{#stockDataList}}
            <div class="rounded-lg p-4 shadow-md {{#isPercentageChangePositive}}bg-red-100{{/isPercentageChangePositive}}{{^isPercentageChangePositive}}bg-blue-100{{/isPercentageChangePositive}}">
                <div class="flex flex-col items-center">
                    <img src="/img/{{code}}.png" alt="{{name}}" class="w-10 h-10 mb-2">
                    <a data-stock-code="{{code}}" href=/stock-detail/{{code}}><h5 class="text-lg font-bold">{{name}}</h5></a>
                    <p class="text-lg font-bold">{{getFormattedCurrentPrice}}원</p>
                    <p class="text-sm text-{{#isPercentageChangePositive}}red-500{{/isPercentageChangePositive}}{{^isPercentageChangePositive}}blue-500{{/isPercentageChangePositive}}">
                        {{getFormattedDifference}}원 ({{getFormattedPercentageChange}}%)
                    </p>
                </div>
            </div>
        {{/stockDataList}}
    </div>
</div>
<script src="/js/stock_websocket.js"></script>